body
{
    background-color: #726380;
}
h1
{
    font-family: "Lucida Console";
}
#menuBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #e3d5f5;
    color: black;
    font-size: 20px;
    font-family: "Lucida Console";
    border: none;
    width: 100%;
    z-index: 1000;
    Display: flex;
    justify-content: space-evenly;
}
.menuStuff
{
    Display: flex;
}
#menuText
{
    font-family: "Lucida Console";
    padding-top: 120px;
    padding-left: 90px;
    padding-right: 0px;
    font-size: 30px;
}
.promotion
{
    font-family: "Lucida Console";
    padding-left: 150px;
    padding-right: 150px;
    font-size: 15px;
    margin-left: 530px;
    margin-top: -165px;
}
#vinylImage
{
    Display: flex;
    padding-top: 150px;
    padding-left: 70px;
}
.albums
{
    Display: flex;
    justify-content: space-around;
}
#albumOneImage
{
    padding-top: 180px;
    padding-left: 0px;
}
#albumOneText
{
    font-family: "Lucida Console";
}
#albumTwoImage
{
    padding-top: 180px;
    padding-left: 0px;
}
#albumTwoText
{
    font-family: "Lucida Console";
}
#albumThreeImage
{
    padding-top: 180px;
    padding-left: 0px;
}
#albumThreeText
{
    font-family: "Lucida Console";
}