body
{
    background-color: #726380;
}
h1
{
    font-family: "Lucida Console";
}
#menuBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #e3d5f5;
    color: black;
    font-size: 20px;
    font-family: "Lucida Console";
    border: none;
    width: 100%;
    z-index: 1000;
    Display: flex;
    justify-content: space-evenly;
}
.menuStuff
{
    Display: flex;
}
#priceBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #e3d5f5;
    color: black;
    font-size: 35px;
    font-family: "Lucida Console";
    border: none;
    width: 25%;
    z-index: 999;
    Display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
    padding-left: 80%;
}