body
{
    background-color: #726380;
}
h1
{
    font-family: "Lucida Console";
}
#menuBar
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #e3d5f5;
    color: black;
    font-size: 20px;
    font-family: "Lucida Console";
    border: none;
    width: 100%;
    z-index: 1000;
    Display: flex;
    justify-content: space-evenly;
    border: solid;
    border-color: black;
}
.chromakopiaInfo
{
    Display: flex;
}
#chromakopiaImage
{
    padding-top: 160px;
    padding-left: 50px;
}
#chromakopiaSongList
{
    font-family: "Lucida Console";
    padding-top: 140px;
    padding-left: 100px;
    padding-right: 400px;
}